@import "../../scss/variables.scss";

.MobileNavigation {
  display: none;
}

.NavBar {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;

  a {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #464646;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      color: #181717;
    }
  }
}

@media (max-width: 1208px) {
  .NavBar {
    display: block;
  }

  .Navigation {
    display: none;
  }

  .MobileNavigation {
    display: flex;
    flex-direction: column;
  }

  .MobileNavigation .Hamburger {
    position: fixed;
    right: 5%;
    z-index: 1;
    margin-top: 20px;
    cursor: pointer;
  }

  .HamburgerClose {
    position: absolute;
    right: 5%;
    z-index: 1;
    margin-top: 20px;
    cursor: pointer;
  }

  nav li {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    padding: 50px 0px;
    width: 100%;
    background: $color-black;
    border-top: 2px solid $color-black;

    a {
      font-size: 22px;
      line-height: 50px;
      font-weight: 300;
      margin-left: 0;
      text-transform: uppercase;
      color: $color-white;
      text-decoration: none;
    }

    a:hover {
      color: $color-dark;
    }
  }

  .section-header-top {
    background: $color-black;
  }

  .section-header-top-logo {
    border-right: none;
  }
}
