@import "variables.scss";

// === Cabine ===
.section-cabine {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $color-white;

  &__title {
    font-size: 52px;
    line-height: 51px;
    font-weight: bold;
    color: $color-black;
    text-align: center;
    margin-bottom: 65px;
  }

  &__block {
    display: flex;

    &__image,
    &__content {
      flex-basis: 50%;
      padding-bottom: 60px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px 65px 90px;
      color: $color-black;

      .description-item {
        margin-top: 28px;

        &__title {
          font-size: 30px;
          line-height: 36px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        &__text {
          font-size: 24px;
          line-height: 30px;
          font-weight: 300;

          span {
            font-weight: 700;
          }
        }
      }
    }

    &__image {
      justify-self: center;
      align-self: center;
      padding-left: 20px;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 720px) {
  .section-cabine__block {
    display: flex;
    flex-direction: column;

    &__content {
      padding-left: 0px;
      .description-item {
        text-align: center;
      }
    }

    &__image {
      width: 80%;
      margin: 20px 20px;
    }
  }
}

@media (max-width: 600px) {
  .section-cabine {
    &-title {
      font-size: 34px;
    }

    &__block {
      &__content {
        padding: 0px 20px;
        .description-item {
          margin-top: 10px;
          &__title {
            font-size: 32px;
            text-align: center;
            margin-bottom: 12px;
          }

          &__text {
            font-size: 22px;
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }

      &__image {
        width: 80%;
        margin: 20px 20px;
      }
    }
  }
}
// === / Cabine ===
