@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap");
@import "normalize.scss";
@import "variables.scss";
@import "Header.scss";
@import "Price.scss";
@import "Cabine.scss";
@import "Form.scss";
@import "About.scss";
@import "Map.scss";
@import "Footer.scss";
@import "Loading.scss";

// ==== Mixins ===
@mixin font-latio {
  font-family: "Lato", sans-serif;
}

@mixin font-montserat {
  font-family: "Montserrat", sans-serif;
}
// === / Mixins ===

// === Common ===
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  scroll-behavior: smooth;
}

body {
  @include font-latio;
  color: $color-dark;
}

.section-inner {
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
}
