@import "variables.scss";

// === Map ===
.section-map {
  background-color: $color-black;
  height: 500px;
  width: 600px;
}
@media (max-width: 1037px) {
  .section-map {
    margin: 20px;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .section-map {
    margin: 20px;
    width: 100%;
  }
}

@media (max-width: 677px) {
  .section-map {
    margin: 20px;
    width: 80%;
  }
}

@media (max-width: 600px) {
  .section-map {
    margin: 20px;
    width: 90%;
    height: 300px;
  }
}
// === / Map ===
